
.whole-page {
  display: flex;
  flex-direction: column;
   background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  font-family: 'Roboto', sans-serif;
}

.title-and-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-sleep-hydration-container {
  display: flex;
  justify-content: space-evenly;
}

.profile-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .material-symbols-outlined {
  display: flex;
} */

.profile-section, .sleep-container, .hydration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 2px solid pink;
  width: 360px;
  margin: 15px;
  outline: 4px solid black;
  border-radius: 6px;
  background-color: lightblue;
  
}

.activity-section-container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
}

.activity-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-left-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  border-radius: 6px;
  width: 500px;
  background-color: lightblue;  
}

.activity-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
  border-radius: 6px;
  width: 500px;
  background-color: lightblue;  
}

.activity-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}


