
.whole-page {
  display: flex;
  flex-direction: column;
   background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  font-family: 'Roboto', sans-serif;
}

.title-and-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-sleep-hydration-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.profile-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container, .sleep-container, .hydration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 15px;
  border-radius: 25px;
  background-color: lightblue;
  height: 600px;
}


.activity-section-container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
}

.activity-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activity-left-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 25px;
  width: 550px;
  background-color: lightblue;  
}

.activity-right-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  width: 550px;
  background-color: lightblue;  
}

.activity-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.sleep-content-container {
  flex: 1;
  height: 500px;
  line-height: 1.6;
}

.sleep-content {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 500px;
}

.hydration-content {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
 
}


.profile-content-container {
  display: flex;
  height: 400px;
}

.profile-content {
  flex: 1;
  height: 400px;
  width: 300px;
  line-height: 1.6;
  text-align: center;
}